{"openapi":"3.1.0","info":{"title":"Profile APIs","version":"0.0.1-SNAPSHOT"},"servers":[{"url":"https://stgitrade.cgsi.com.sg/portal","description":"[uat]"},{"url":"https://sititrade.cgsi.com.sg/portal","description":"[dev]"},{"url":"http://localhost:20002","description":"[local]"}],"tags":[{"name":"iTrade API - Profile Internal APIs","description":"Internal endpoints for Profile APIs"},{"name":"iTrade API - Profile APIs","description":"Endpoints for Profile APIs"}],"paths":{"/profile/api/v1/tradingInfo/bcan/request":{"post":{"tags":["iTrade API - Profile APIs"],"operationId":"createBcanRequest","parameters":[{"name":"X-PROFILE-ID","in":"header","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateBcanRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CreateBcanResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/profile/api/v1/donation/submission":{"post":{"tags":["iTrade API - Profile APIs"],"operationId":"submitDonation","parameters":[{"name":"X-PROFILE-ID","in":"header","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DonationSubmissionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DonationSubmissionResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/profile/api/v1/donation/cancel":{"post":{"tags":["iTrade API - Profile APIs"],"operationId":"cancelDonation","parameters":[{"name":"X-PROFILE-ID","in":"header","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DonationCancelRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DonationCancelResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/profile/api/v1/trInfo":{"get":{"tags":["iTrade API - Profile APIs"],"operationId":"getTrInfo","parameters":[{"name":"X-PROFILE-ID","in":"header","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TrInfoResponse"}}}}}},"security":[{"bearerAuth":[]}]}},"/profile/api/v1/internal/trInfo":{"get":{"tags":["iTrade API - Profile Internal APIs"],"operationId":"getTrInfo_1","parameters":[{"name":"accountNo","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TrInfoResponse"}}}}}},"security":[]}},"/profile/api/v1/internal/profile":{"get":{"tags":["iTrade API - Profile Internal APIs"],"operationId":"getProfile","parameters":[{"name":"X-PROFILE-ID","in":"header","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserProfileResponse"}}}}},"security":[]}},"/profile/api/v1/donation/plan":{"get":{"tags":["iTrade API - Profile APIs"],"operationId":"getDonationPlan","parameters":[{"name":"X-PROFILE-ID","in":"header","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DonationPlanResponse"}}}}}},"security":[{"bearerAuth":[]}]}},"/profile/api/v1/contactUs/clientService":{"get":{"tags":["iTrade API - Profile APIs"],"operationId":"getContactUsClientService","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ContactUsClientServiceResponse"}}}}},"security":[]}},"/profile/api/v1/contactUs/centralDealingDesk":{"get":{"tags":["iTrade API - Profile APIs"],"operationId":"getContactUsCentralDealingDesk","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ContactUsCentralDealingDeskResponse"}}}}},"security":[]}},"/profile/api/v1/accounts":{"get":{"tags":["iTrade API - Profile APIs"],"operationId":"getAccounts","parameters":[{"name":"X-PROFILE-ID","in":"header","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UserAccountResponse"}}}}}},"security":[{"bearerAuth":[]}]}}},"components":{"schemas":{"CreateBcanRequest":{"type":"object","properties":{"accountNo":{"type":"string","description":"Account number for which to create BCAN","example":1234567890,"minLength":1}},"required":["accountNo"]},"CreateBcanResponse":{"type":"object","properties":{"isSuccess":{"type":"boolean"}},"required":["isSuccess"]},"DonationSubmissionRequest":{"type":"object","properties":{"accountNo":{"type":"string","description":"7-digit account number associated with the donation","example":1234567,"minLength":1,"pattern":"^[0-9]{7}$"},"amount":{"type":"number","description":"Amount to be donated","example":50.0,"minimum":0},"currency":{"type":"string","description":"Currency for the donation","example":"SGD"},"paymentMethod":{"type":"string","description":"Payment method for the donation","example":"PLAN","pattern":"^(?i)(PLAN|LS_ACCSET)$"},"paymentMode":{"type":"string","description":"Payment mode","example":"DONATE","pattern":"^(?i)(DONATE)$"},"months":{"type":"integer","format":"int32","description":"Duration in months for the donation plan","example":12,"maximum":12,"minimum":1}},"required":["accountNo","currency","paymentMethod","paymentMode"]},"DonationSubmissionResponse":{"type":"object","properties":{"isSuccess":{"type":"boolean"}},"required":["isSuccess"]},"DonationCancelRequest":{"type":"object","properties":{"id":{"type":"integer","format":"int64"}},"required":["id"]},"DonationCancelResponse":{"type":"object","properties":{"isSuccess":{"type":"boolean"}},"required":["isSuccess"]},"TrInfoResponse":{"type":"object","properties":{"trCode":{"type":"string"},"trName":{"type":"string"},"trContact":{"type":"string"},"trEmail":{"type":"string"}},"required":["trCode","trContact","trEmail","trName"]},"UserProfileResponse":{"type":"object","properties":{"profileId":{"type":"string"},"domainId":{"type":"string"},"userCategoryId":{"type":"string"},"userId":{"type":"string"},"name":{"type":"string"},"email":{"type":"string"},"ic":{"type":"string"},"mobileNo":{"type":"string"},"mobileNoForSms":{"type":"string"},"homeNo":{"type":"string"},"officeNo":{"type":"string"}},"required":["profileId"]},"DonationPlanResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"currency":{"type":"string"},"amount":{"type":"number"},"start":{"type":"string"},"end":{"type":"string"}},"required":["amount","currency","end","id","start"]},"ContactUsClientServiceResponse":{"type":"object","properties":{"operatingHours":{"type":"string"},"callCentreNumber":{"type":"string"},"callCentreEmailAddress":{"type":"string"},"companyAddress":{"type":"string"}},"required":["callCentreEmailAddress","callCentreNumber","companyAddress","operatingHours"]},"ContactUsCentralDealingDeskResponse":{"type":"object","properties":{"operatingHours":{"type":"string"},"centralDealingNumber":{"type":"string"},"companyAddress":{"type":"string"}},"required":["centralDealingNumber","companyAddress","operatingHours"]},"UserAccountResponse":{"type":"object","properties":{"accountNo":{"type":"string"},"accountType":{"type":"string"},"trName":{"type":"string"},"eps":{"type":"string"},"giro":{"type":"string"},"cdp":{"type":"string"},"cpf":{"type":"string"},"srs":{"type":"string"},"accreditedInvestor":{"type":"string"}}}},"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}}}}