{"openapi":"3.1.0","info":{"title":"SSO APIs","version":"0.0.1-SNAPSHOT"},"servers":[{"url":"https://stgitrade.cgsi.com.sg/portal","description":"[uat]"},{"url":"https://sititrade.cgsi.com.sg/portal","description":"[dev]"},{"url":"http://localhost:20005","description":"[local]"}],"tags":[{"name":"iTrade API - SSO Internal APIs","description":"Internal endpoints for SSO APIs"},{"name":"iTrade API - SSO APIs","description":"Endpoints for SSO APIs"}],"paths":{"/sso/api/v1/token":{"post":{"tags":["iTrade API - SSO APIs"],"operationId":"token","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TokenRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TokenResponse"}}}}},"security":[]}},"/sso/api/v1/token/refresh":{"post":{"tags":["iTrade API - SSO APIs"],"operationId":"refreshToken","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RefreshTokenRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TokenResponse"}}}}},"security":[]}},"/sso/api/v1/internal/validate-token":{"post":{"tags":["iTrade API - SSO Internal APIs"],"operationId":"validateToken","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidateTokenRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ValidateTokenResponse"}}}}},"security":[]}}},"components":{"schemas":{"TokenRequest":{"type":"object","properties":{"code":{"type":"string","minLength":1},"clientId":{"type":"string","minLength":1},"redirectUri":{"type":"string","minLength":1}},"required":["clientId","code","redirectUri"]},"TokenResponse":{"type":"object","properties":{"idToken":{"type":"string"},"accessToken":{"type":"string"},"expiresIn":{"type":"integer","format":"int32"},"tokenType":{"type":"string"},"refreshToken":{"type":"string"}}},"RefreshTokenRequest":{"type":"object","properties":{"refreshToken":{"type":"string","minLength":1},"clientId":{"type":"string","minLength":1}},"required":["clientId","refreshToken"]},"ValidateTokenRequest":{"type":"object","properties":{"token":{"type":"string"},"requiredScopes":{"type":"array","items":{"type":"string"}}},"required":["token"]},"ValidateTokenResponse":{"type":"object","properties":{"ssoId":{"type":"string"},"profileId":{"type":"string"}}}},"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}}}}