{"openapi":"3.1.0","info":{"title":"iTrade API - External SSO APIs","version":"0.0.1-SNAPSHOT"},"servers":[{"url":"https://stgitrade.cgsi.com.sg/portal","description":"[uat]"},{"url":"https://sititrade.cgsi.com.sg/portal","description":"[dev]"},{"url":"http://localhost:20004","description":"[local]"}],"tags":[{"name":"External APIs"}],"paths":{"/externalsso/api/v1/stockFilter":{"get":{"tags":["External SSO APIs"],"operationId":"getStockFilter","parameters":[{"name":"X-PROFILE-ID","in":"header","required":true,"schema":{"type":"string"}},{"name":"state","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SSOLinkResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/externalsso/api/v1/research":{"get":{"tags":["External SSO APIs"],"operationId":"getResearch","parameters":[{"name":"X-PROFILE-ID","in":"header","required":true,"schema":{"type":"string"}},{"name":"state","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SSOLinkResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/externalsso/api/v1/ew8":{"get":{"tags":["External SSO APIs"],"operationId":"getEw8","parameters":[{"name":"X-PROFILE-ID","in":"header","required":true,"schema":{"type":"string"}},{"name":"nric","in":"query","required":false,"schema":{"type":"string","enum":["INDIVIDUAL","MAIN","JOINT"]}},{"name":"state","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SSOLinkResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/externalsso/api/v1/estatement":{"get":{"tags":["External SSO APIs"],"operationId":"getEStatement","parameters":[{"name":"X-PROFILE-ID","in":"header","required":true,"schema":{"type":"string"}},{"name":"state","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SSOLinkResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/externalsso/api/v1/ecrs":{"get":{"tags":["External SSO APIs"],"operationId":"getEcrs","parameters":[{"name":"X-PROFILE-ID","in":"header","required":true,"schema":{"type":"string"}},{"name":"nric","in":"query","required":false,"schema":{"type":"string","enum":["INDIVIDUAL","MAIN","JOINT"]}},{"name":"state","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SSOLinkResponse"}}}}},"security":[{"bearerAuth":[]}]}}},"components":{"schemas":{"SSOLinkResponse":{"type":"object","properties":{"redirectUrl":{"type":"string"}},"required":["redirectUrl"]}},"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}}}}