{"openapi":"3.1.0","info":{"title":"iTrade API - Profile APIs","version":"0.0.1-SNAPSHOT"},"servers":[{"url":"https://stgitrade.cgsi.com.sg/portal","description":"[uat]"},{"url":"https://sititrade.cgsi.com.sg/portal","description":"[dev]"},{"url":"http://localhost:20002","description":"[local]"}],"tags":[{"name":"Profile APIs"},{"name":"Donation APIs"},{"name":"UpdateInfo APIs"},{"name":"Profile Internal APIs","description":"APIs for internal use only"}],"paths":{"/profile/api/v1/update/signature/upload":{"post":{"tags":["UpdateInfo APIs"],"operationId":"uploadSignature","parameters":[{"name":"X-PROFILE-ID","in":"header","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"},"metadata":{"type":"string"}},"required":["file","metadata"]}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UploadSignatureResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/profile/api/v1/update/mobile/submit":{"post":{"tags":["UpdateInfo APIs"],"operationId":"updateMobileSubmitRequest","parameters":[{"name":"X-PROFILE-ID","in":"header","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OtpSubmitRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/OtpSubmitResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/profile/api/v1/update/mobile/otp":{"post":{"tags":["UpdateInfo APIs"],"operationId":"updateMobileOtpRequest","parameters":[{"name":"X-PROFILE-ID","in":"header","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateMobileOtpRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UpdateMobileOtpResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/profile/api/v1/update/email/submit":{"post":{"tags":["UpdateInfo APIs"],"operationId":"updateEmailSubmitRequest","parameters":[{"name":"X-PROFILE-ID","in":"header","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OtpSubmitRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/OtpSubmitResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/profile/api/v1/update/email/otp":{"post":{"tags":["UpdateInfo APIs"],"operationId":"updateEmailOtpRequest","parameters":[{"name":"X-PROFILE-ID","in":"header","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateEmailOtpRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UpdateEmailOtpResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/profile/api/v1/tradingInfo/bcan/request":{"post":{"tags":["Profile APIs"],"operationId":"createBcanRequest","parameters":[{"name":"X-PROFILE-ID","in":"header","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateBcanRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CreateBcanResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/profile/api/v1/donation/submission":{"post":{"tags":["Donation APIs"],"operationId":"submitDonation","parameters":[{"name":"X-PROFILE-ID","in":"header","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DonationSubmissionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DonationSubmissionResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/profile/api/v1/donation/cancel":{"post":{"tags":["Donation APIs"],"operationId":"cancelDonation","parameters":[{"name":"X-PROFILE-ID","in":"header","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DonationCancelRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DonationCancelResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/profile/api/v1/tradingInfo":{"get":{"tags":["Profile APIs"],"operationId":"getUserTradingInfo","parameters":[{"name":"X-PROFILE-ID","in":"header","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserTradingInfoResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/profile/api/v1/trInfo":{"get":{"tags":["Profile APIs"],"operationId":"getTrInfo","parameters":[{"name":"X-PROFILE-ID","in":"header","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TrInfoResponse"}}}}}},"security":[{"bearerAuth":[]}]}},"/profile/api/v1/internal/trInfo":{"get":{"tags":["Profile Internal APIs"],"operationId":"getTrInfo_1","parameters":[{"name":"accountNo","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TrInfoResponse"}}}}}},"security":[]}},"/profile/api/v1/internal/profile":{"get":{"tags":["Profile Internal APIs"],"operationId":"getProfile","parameters":[{"name":"X-PROFILE-ID","in":"header","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserProfileResponse"}}}}},"security":[]}},"/profile/api/v1/internal/accounts":{"get":{"tags":["Profile Internal APIs"],"operationId":"getAccounts","parameters":[{"name":"X-PROFILE-ID","in":"header","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UserAccountResponse"}}}}}},"security":[]}},"/profile/api/v1/internal/account":{"get":{"tags":["Profile Internal APIs"],"operationId":"getAccount","parameters":[{"name":"X-PROFILE-ID","in":"header","required":true,"schema":{"type":"string"}},{"name":"accountNo","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserAccountResponse"}}}}},"security":[]}},"/profile/api/v1/donation/plan":{"get":{"tags":["Donation APIs"],"operationId":"getDonationPlan","parameters":[{"name":"X-PROFILE-ID","in":"header","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DonationPlanResponse"}}}}}},"security":[{"bearerAuth":[]}]}},"/profile/api/v1/contactUs/clientService":{"get":{"tags":["Profile APIs"],"operationId":"getContactUsClientService","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ContactUsClientServiceResponse"}}}}},"security":[]}},"/profile/api/v1/contactUs/centralDealingDesk":{"get":{"tags":["Profile APIs"],"operationId":"getContactUsCentralDealingDesk","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ContactUsCentralDealingDeskResponse"}}}}},"security":[]}},"/profile/api/v1/acknowledgement/user/list":{"get":{"tags":["Profile APIs"],"operationId":"getUserAcknowledgements","parameters":[{"name":"X-PROFILE-ID","in":"header","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserAcknowledgementResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/profile/api/v1/acknowledgement/user/details/{id}":{"get":{"tags":["Profile APIs"],"operationId":"getUserAcknowledgementDetail","parameters":[{"name":"X-PROFILE-ID","in":"header","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserAcknowledgementDetailResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/profile/api/v1/accounts":{"get":{"tags":["Profile APIs"],"operationId":"getAccounts_1","parameters":[{"name":"X-PROFILE-ID","in":"header","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UserAccountResponse"}}}}}},"security":[{"bearerAuth":[]}]}}},"components":{"schemas":{"UploadSignatureResponse":{"type":"object","properties":{"isSuccess":{"type":"boolean"}},"required":["isSuccess"]},"OtpSubmitRequest":{"type":"object","properties":{"transactionId":{"type":"string","minLength":1},"otp":{"type":"string","minLength":1,"pattern":"^\\d{6}$"}},"required":["otp","transactionId"]},"OtpSubmitResponse":{"type":"object","properties":{"isSuccess":{"type":"boolean"}},"required":["isSuccess"]},"UpdateMobileOtpRequest":{"type":"object","properties":{"mobileNumber":{"type":"string","description":"Mobile number to send otp","example":"+65-12345678 (+) sign is optional)","minLength":1,"pattern":"^(?=.{1,16}$)\\+?\\d{1,4}-\\d+$"}},"required":["mobileNumber"]},"UpdateMobileOtpResponse":{"type":"object","properties":{"transactionId":{"type":"string"}}},"UpdateEmailOtpRequest":{"type":"object","properties":{"email":{"type":"string","format":"email","description":"Email address to send otp","example":"test1233@gmail.com","maxLength":64,"minLength":0}},"required":["email"]},"UpdateEmailOtpResponse":{"type":"object","properties":{"transactionId":{"type":"string"}}},"CreateBcanRequest":{"type":"object","properties":{"accountNo":{"type":"string","description":"Account number for which to create BCAN","example":1234567890,"minLength":1}},"required":["accountNo"]},"CreateBcanResponse":{"type":"object","properties":{"isSuccess":{"type":"boolean"}},"required":["isSuccess"]},"DonationSubmissionRequest":{"type":"object","properties":{"accountNo":{"type":"string","description":"7-digit account number associated with the donation","example":1234567,"minLength":1,"pattern":"^[0-9]{7}$"},"amount":{"type":"number","description":"Amount to be donated","example":50.0,"minimum":0},"currency":{"type":"string","description":"Currency for the donation","example":"SGD"},"paymentMethod":{"type":"string","description":"Payment method for the donation","example":"PLAN","pattern":"^(?i)(PLAN|LS_ACCSET)$"},"paymentMode":{"type":"string","description":"Payment mode","example":"DONATE","pattern":"^(?i)(DONATE)$"},"months":{"type":"integer","format":"int32","description":"Duration in months for the donation plan","example":12,"maximum":12,"minimum":1}},"required":["accountNo","currency","paymentMethod","paymentMode"]},"DonationSubmissionResponse":{"type":"object","properties":{"isSuccess":{"type":"boolean"}},"required":["isSuccess"]},"DonationCancelRequest":{"type":"object","properties":{"id":{"type":"integer","format":"int64"}},"required":["id"]},"DonationCancelResponse":{"type":"object","properties":{"isSuccess":{"type":"boolean"}},"required":["isSuccess"]},"BcanInfo":{"type":"object","properties":{"toDisplay":{"type":"boolean"},"requestStatus":{"type":"string"}},"required":["toDisplay"]},"CrsInfo":{"type":"object","properties":{"certified":{"type":"boolean"},"isJointAcct":{"type":"boolean"},"validationDate":{"type":"string"}},"required":["certified","isJointAcct"]},"SipInfo":{"type":"object","properties":{"toDisplay":{"type":"boolean"},"isPassed":{"type":"boolean"},"dueForSubmission":{"type":"boolean"},"lastSubmissionID":{"type":"string"}},"required":["dueForSubmission","isPassed","toDisplay"]},"UserTradingInfoResponse":{"type":"object","properties":{"sip":{"$ref":"#/components/schemas/SipInfo"},"w8ben":{"$ref":"#/components/schemas/W8BenInfo"},"crs":{"$ref":"#/components/schemas/CrsInfo"},"bcan":{"$ref":"#/components/schemas/BcanInfo"}}},"W8BenInfo":{"type":"object","properties":{"toDisplay":{"type":"boolean"},"isJointAcct":{"type":"boolean"},"expireDate":{"type":"string"}},"required":["isJointAcct","toDisplay"]},"TrInfoResponse":{"type":"object","properties":{"trCode":{"type":"string"},"trName":{"type":"string"},"trContact":{"type":"string"},"trEmail":{"type":"string"}},"required":["trCode","trContact","trEmail","trName"]},"UserProfileResponse":{"type":"object","properties":{"profileId":{"type":"string"},"domainId":{"type":"string"},"userCategoryId":{"type":"string"},"userId":{"type":"string"},"name":{"type":"string"},"email":{"type":"string"},"ic":{"type":"string"},"mobileNo":{"type":"string"},"mobileNoForSms":{"type":"string"},"homeNo":{"type":"string"},"officeNo":{"type":"string"},"as400AccountNo":{"type":"string"}},"required":["profileId"]},"UserAccountResponse":{"type":"object","properties":{"accountNo":{"type":"string"},"accountType":{"type":"string"},"trName":{"type":"string"},"trCode":{"type":"string"},"eps":{"type":"string"},"giro":{"type":"string"},"cdp":{"type":"string"},"cpf":{"type":"string"},"srs":{"type":"string"},"accreditedInvestor":{"type":"string"},"accountTypeCodeNova":{"type":"string"}}},"DonationPlanResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"currency":{"type":"string"},"amount":{"type":"number"},"start":{"type":"string"},"end":{"type":"string"}},"required":["amount","currency","end","id","start"]},"ContactUsClientServiceResponse":{"type":"object","properties":{"operatingHours":{"type":"string"},"callCentreNumber":{"type":"string"},"callCentreEmailAddress":{"type":"string"},"companyAddress":{"type":"string"}},"required":["callCentreEmailAddress","callCentreNumber","companyAddress","operatingHours"]},"ContactUsCentralDealingDeskResponse":{"type":"object","properties":{"operatingHours":{"type":"string"},"centralDealingNumber":{"type":"string"},"companyAddress":{"type":"string"}},"required":["centralDealingNumber","companyAddress","operatingHours"]},"AgreementInfo":{"type":"object","properties":{"agreementId":{"type":"string"},"title":{"type":"string"},"versionNo":{"type":"integer","format":"int32"},"acceptedOn":{"type":"string"}}},"UserAcknowledgementResponse":{"type":"object","properties":{"textBase":{"type":"array","items":{"$ref":"#/components/schemas/AgreementInfo"}},"onlineBase":{"type":"array","items":{"$ref":"#/components/schemas/AgreementInfo"}},"interactiveBase":{"type":"array","items":{"$ref":"#/components/schemas/AgreementInfo"}},"pdfBase":{"type":"array","items":{"$ref":"#/components/schemas/AgreementInfo"}}},"required":["interactiveBase","onlineBase","pdfBase","textBase"]},"UserAcknowledgementDetailResponse":{"type":"object","properties":{"title":{"type":"string"},"versionNo":{"type":"integer","format":"int32"},"acceptedOn":{"type":"string"},"htmlContent":{"type":"string"},"url":{"type":"string"}}}},"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}}}}