{"openapi":"3.1.0","info":{"title":"iTrade API - Subscription APIs","version":"0.0.1-SNAPSHOT"},"servers":[{"url":"https://stgitrade.cgsi.com.sg/portal","description":"[uat]"},{"url":"https://sititrade.cgsi.com.sg/portal","description":"[dev]"},{"url":"http://localhost:20003","description":"[local]"}],"tags":[{"name":"Subscription APIs"},{"name":"Subscription Internal APIs","description":"APIs for internal use only"}],"paths":{"/subscription/api/v1/product/mySubscription":{"get":{"tags":["Subscription APIs"],"operationId":"getUserProductSubscriptions","parameters":[{"name":"X-PROFILE-ID","in":"header","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserProductSubsListResponse"}}}}},"security":[{"bearerAuth":[]}]},"post":{"tags":["Subscription APIs"],"operationId":"submitUserProductSubscription","parameters":[{"name":"X-PROFILE-ID","in":"header","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserProductSubscriptionSubmissionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserProductSubscriptionDetailResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/subscription/api/v1/product/{productType}":{"get":{"tags":["Subscription APIs"],"operationId":"getProductSubscriptions","parameters":[{"name":"X-PROFILE-ID","in":"header","required":true,"schema":{"type":"string"}},{"name":"productType","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProductionSubscriptionListResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/subscription/api/v1/product/mySubscription/{subscriptionId}":{"get":{"tags":["Subscription APIs"],"operationId":"getUserProductSubscriptionDetails","parameters":[{"name":"X-PROFILE-ID","in":"header","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserProductSubscriptionDetailResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/subscription/api/v1/product/details/{productCode}":{"get":{"tags":["Subscription APIs"],"operationId":"getProductSubscriptionDetails","parameters":[{"name":"X-PROFILE-ID","in":"header","required":true,"schema":{"type":"string"}},{"name":"productCode","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProductSubscriptionDetailResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/subscription/api/v1/internal/userSubscription/{subscriptionType}/count":{"get":{"tags":["Subscription Internal APIs"],"operationId":"getUserSubscriptionCount","parameters":[{"name":"X-PROFILE-ID","in":"header","required":true,"schema":{"type":"string"}},{"name":"subscriptionType","in":"path","required":true,"schema":{"type":"string","enum":["SMS","EMAIL","US_AMEX","US_NASDAQ","US_NYSE","HK_RT","SG_MD","BM_MD","HK_MD","US_MD","AFX","REUTERS","HSIMI","RESEARCH","BURSA_RT","US_NYSE_ARCA","TH_RT","AUTO_CHART_LIST","NEW_RESEARCH"]}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserSubscriptionCountResponse"}}}}},"security":[]}}},"components":{"schemas":{"UserProductSubscriptionSubmissionRequest":{"type":"object","properties":{"productCode":{"type":"string","description":"Product code","example":"40288a00889fb62901889fbacc111111","maxLength":32,"minLength":0},"accountNo":{"type":"string","description":"Account No","example":"0000001","maxLength":7,"minLength":0},"totalUnit":{"type":"integer","format":"int32","description":"Total Unit","example":1,"minimum":1},"paymentCurrency":{"type":"string","description":"Payment currency","example":"SGD","maxLength":10,"minLength":0},"paymentMode":{"type":"string","description":"Payment mode","example":"PayNow","maxLength":200,"minLength":0}},"required":["accountNo","paymentCurrency","paymentMode","productCode","totalUnit"]},"UserProductSubscriptionDetailResponse":{"type":"object","properties":{"subscriptionId":{"type":"string"},"productCode":{"type":"string"},"productName":{"type":"string"},"productType":{"type":"string"},"stockCode":{"type":"string"},"exchangeCode":{"type":"string"},"noteGenerateDate":{"type":"string","format":"date-time"},"clientName":{"type":"string"},"accountNo":{"type":"string"},"taxNoteNo":{"type":"string"},"applicationDate":{"type":"string","format":"date-time"},"paymentDueDate":{"type":"string","format":"date-time"},"amountPayable":{"type":"number","format":"double"},"paymentCurrency":{"type":"string"},"baseCurrency":{"type":"string"},"totalUnit":{"type":"integer","format":"int32"},"issuePrice":{"type":"number","format":"double"},"grossProceed":{"type":"number","format":"double"},"commission":{"type":"number","format":"double"},"adminFee":{"type":"number","format":"double"},"gstAmount":{"type":"number","format":"double"},"gstPct":{"type":"number","format":"double"},"conversionRate":{"type":"number","format":"double"}}},"ProductSubscriptionDto":{"type":"object","properties":{"productCode":{"type":"string"},"productName":{"type":"string"},"productType":{"type":"string"},"stockCode":{"type":"string"},"exchangeCode":{"type":"string"},"currency":{"type":"string"},"issuePrice":{"type":"number","format":"double"},"minQty":{"type":"integer","format":"int32"},"startTime":{"type":"string","format":"date-time"},"endTime":{"type":"string","format":"date-time"},"isSubscribed":{"type":"boolean"}}},"ProductionSubscriptionListResponse":{"type":"object","properties":{"productSubs":{"type":"array","items":{"$ref":"#/components/schemas/ProductSubscriptionDto"}}},"required":["productSubs"]},"UserProductSubsListResponse":{"type":"object","properties":{"userProductSubs":{"type":"array","items":{"$ref":"#/components/schemas/UserProductSubscriptionDto"}}},"required":["userProductSubs"]},"UserProductSubscriptionDto":{"type":"object","properties":{"subscriptionId":{"type":"string"},"productCode":{"type":"string"},"productName":{"type":"string"},"productType":{"type":"string"},"stockCode":{"type":"string"},"exchangeCode":{"type":"string"},"currency":{"type":"string"},"issuePrice":{"type":"number","format":"double"},"appliedQty":{"type":"integer","format":"int32"},"allocatedQty":{"type":"integer","format":"int32"},"endTime":{"type":"string","format":"date-time"}},"required":["currency","exchangeCode","productCode","productName","productType","stockCode"]},"ProductSubscriptionDetailResponse":{"type":"object","properties":{"productCode":{"type":"string"},"productName":{"type":"string"},"productType":{"type":"string"},"stockCode":{"type":"string"},"exchangeCode":{"type":"string"},"issuePrice":{"type":"number","format":"double"},"minQty":{"type":"integer","format":"int32"},"incrementQty":{"type":"integer","format":"int32"},"startTime":{"type":"string","format":"date-time"},"endTime":{"type":"string","format":"date-time"},"paymentDate":{"type":"string","format":"date-time"},"listingDate":{"type":"string","format":"date-time"},"baseCurrency":{"type":"string"},"tradingCurrency":{"type":"string"},"paymentMode":{"type":"string"},"excludedInvestment":{"type":"string"},"bannerUrl":{"type":"string"},"content1":{"type":"string"},"content2":{"type":"string"},"additionalInfo":{"type":"string"},"refDocs":{"type":"string"},"tncUrl":{"type":"string"},"brokerageFee":{"type":"number","format":"double"},"minBrokerageFee":{"type":"number","format":"double"},"transferFee":{"type":"number","format":"double"},"managementFee":{"type":"number","format":"double"},"conversionRate":{"type":"number","format":"double"},"gst":{"type":"number","format":"double"},"minPrice":{"type":"number","format":"double"},"maxPrice":{"type":"number","format":"double"},"aiOnly":{"type":"boolean"},"paymentAfterAllocation":{"type":"boolean"},"allocationDate":{"type":"string","format":"date-time"},"acknowledgementDate":{"type":"string","format":"date-time"},"issuePriceStatus":{"type":"boolean"},"allocationStatus":{"type":"boolean"}},"required":["endTime","listingDate","paymentDate","startTime"]},"UserSubscriptionCountResponse":{"type":"object","properties":{"count":{"type":"integer","format":"int32"}},"required":["count"]}},"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}}}}